/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v4/pe0qMImSLYBIv1o4X1M8cce9I94.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@media (max-width: 500px) {
  .init-text-size h2 {
    color: #EF4B4B;
    font-size: 10em;
    padding-bottom: 10%;
  }
  .init-text-size p {
    color: #283F5F;
    font-size: 1em;
    padding-bottom: 5%;
  }
}
.bottom-padding {
  padding-bottom: 5%;
}
nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  nav {
    min-height: 50px;
    max-height: 50px;
    background-color: #283F5F;
    padding: 0% 5% 0% 5%;
  }
  nav ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul a {
    color: white;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  nav {
    min-height: 50px;
    max-height: 50px;
    background-color: #283F5F;
    padding: 0% 5% 0% 5%;
  }
  nav ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul a {
    color: white;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  nav {
    min-height: 50px;
    max-height: 50px;
    background-color: #283F5F;
    padding: 0% 5% 0% 5%;
  }
  nav ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul a {
    color: white;
  }
}
@media (min-width: 1601px) {
  nav {
    min-height: 50px;
    max-height: 50px;
    background-color: #283F5F;
    padding: 0% 20% 0% 20%;
  }
  nav ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul a {
    color: white;
  }
}
@media (max-width: 500px) {
  figure img {
    max-width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  figure img {
    max-width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  figure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  figure img {
    max-width: 100%;
    max-height: 600px;
  }
}
@media (min-width: 1601px) {
  figure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  figure img {
    max-width: 100%;
    max-height: 600px;
  }
}
article {
  display: flex;
  padding-top: 50px;
}
@media (max-width: 500px) {
  article div.header-wrapper {
    display: none;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  article div.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    padding: 0% 5% 0% 5%;
    box-sizing: border-box;
  }
  article div.header-wrapper h2 {
    color: #EF4B4B;
    font-size: 2em;
    padding-bottom: 10%;
  }
  article div.header-wrapper p {
    color: #283F5F;
    font-size: 1em;
    padding-bottom: 5%;
  }
  article div.header-wrapper .header-wrapper {
    padding: 5%;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  article div.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    padding: 0% 5% 0% 5%;
    box-sizing: border-box;
  }
  article div.header-wrapper h2 {
    color: #EF4B4B;
    font-size: 2.5em;
    padding-bottom: 10%;
  }
  article div.header-wrapper p {
    color: #283F5F;
    font-size: 1.25em;
    padding-bottom: 5%;
  }
  article div.header-wrapper .header-wrapper {
    padding: 5%;
  }
}
@media (min-width: 1601px) {
  article div.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    padding: 0% 0% 0% 20%;
    box-sizing: border-box;
  }
  article div.header-wrapper h2 {
    color: #EF4B4B;
    font-size: 2.5em;
    padding-bottom: 10%;
  }
  article div.header-wrapper p {
    color: #283F5F;
    font-size: 1.25em;
    padding-bottom: 5%;
  }
  article div.header-wrapper .header-wrapper {
    padding: 15%;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  article::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    transform-origin: top left;
    transform: skewY(-23deg);
    z-index: -10;
  }
}
@media (min-width: 1601px) {
  article {
    padding-top: 10%;
  }
  article::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F8F8F8;
    transform-origin: top left;
    transform: skewY(-13deg);
    z-index: -10;
  }
}
@media (max-width: 500px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section h2 {
    color: #EF4B4B;
    font-size: 2em;
    padding-bottom: 5%;
  }
  section p {
    color: #283F5F;
    font-size: 1em;
    padding-bottom: 5%;
  }
  section .header-wrapper {
    padding: 5%;
  }
  section.reverse-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  section {
    padding: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  section:nth-child(even) {
    flex-direction: row;
    background: #F8F8F8;
  }
  section h2 {
    color: #EF4B4B;
    font-size: 2em;
    padding-bottom: 5%;
  }
  section p {
    color: #283F5F;
    font-size: 1em;
    padding-bottom: 5%;
  }
  section .header-wrapper {
    width: 35%;
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section .img-wrapper {
    width: 65%;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  section {
    padding: 5%;
    display: flex;
    flex-direction: row-reverse;
  }
  section:nth-child(even) {
    flex-direction: row;
    background: #F8F8F8;
  }
  section h2 {
    color: #EF4B4B;
    font-size: 2.5em;
    padding-bottom: 5%;
  }
  section p {
    color: #283F5F;
    font-size: 1.25em;
    padding-bottom: 5%;
  }
  section .header-wrapper {
    width: 35%;
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section .img-wrapper {
    width: 65%;
  }
}
@media (min-width: 1601px) {
  section {
    padding: 15%;
    display: flex;
    flex-direction: row-reverse;
  }
  section:nth-child(even) {
    flex-direction: row;
    background: #F8F8F8;
  }
  section h2 {
    color: #EF4B4B;
    font-size: 2.5em;
    padding-bottom: 5%;
  }
  section p {
    color: #283F5F;
    font-size: 1.25em;
    padding-bottom: 5%;
  }
  section .header-wrapper {
    width: 35%;
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section .img-wrapper {
    width: 65%;
  }
}
@media (max-width: 500px) {
  footer {
    height: 100px;
    background-color: #283F5F;
  }
}
@media (min-width: 501px) and (max-width: 1024px) {
  footer {
    height: 100px;
    background-color: #283F5F;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  footer {
    height: 100px;
    background-color: #283F5F;
  }
}
@media (min-width: 1601px) {
  footer {
    height: 100px;
    background-color: #283F5F;
  }
}
.hide {
  opacity: 0;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
.fade-in-element {
  animation: fade-in 1.4s;
}
body {
  font-family: 'Nunito Sans', 'Open Sans';
}
