footer {
  @media @mobile {
    height: 100px;
    background-color: @nav_color;
  }

  @media @tablet {
    height: 100px;
    background-color: @nav_color;
  }

  @media @laptop {
    height: 100px;
    background-color: @nav_color;
  }

  @media @desktop {
    height: 100px;
    background-color: @nav_color;
  }
}