@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans&display=swap');

@font_family: 'Nunito Sans', 'Open Sans';
@mobile: ~"(max-width: 500px)";
@tablet: ~"(min-width: 501px) and (max-width: 900px)";
@laptop: ~"(min-width: 901px) and (max-width: 1400px)";
@desktop: ~"(min-width: 1401px)";
@text-color: #283F5F;
@header-color: #EF4B4B;
@nav_color: #283F5F;